[AddressInfo]
### direct access
PAGE_ADDRESS = http://pandawms.org/lsst/

[VersionInfo]
# PAGE_VERSION = 0.0.1
PAGE_VERSION = UA-44940804-1

[BrowserInfo]
PAGE_BROWSER  = Chrome
# PAGE_BROWSER  = Firefox

[Statics]
static_list_address = http://pandawms.org/lsst/static/static-files.txt
static_list_filename = /tmp/statics-pandawms_lsst.txt
static_address_prefix = /path/to/static/static-files.txt
static_server = http://pandawms.org/

[Debugging]
page_content_directory = /data/atlpan/qa/debug/pandawms_lsst/
page_url_prefix = https://pandabuild.cern.ch/qa/pandawms_lsst/

[Errors]
ignored_errors = Error 503 Service Unavailable

